@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --chart-1: 47 100% 71%;
        --chart-2: 42 97% 53%;
        --chart-3: 40 95% 47%;
        --chart-4: 35 98% 40%;
        --chart-5: 30 93% 33%;
        --ring: 0 0% 3.9%;
        --radius: 0.5rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;

        /* src light */
        --atec-yellow-50: 49 92% 95%;
        --atec-yellow-100: 48 92% 76%;
        --atec-yellow-200: 48 92% 76%;
        --atec-yellow-300: 47 100% 71%;
        --atec-yellow-400: 42 97% 53%;
        --atec-yellow-500: 40 95% 47%;
        --atec-yellow-600: 35 98% 40%;
        --atec-yellow-700: 30 93% 33%;
        --atec-yellow-800: 26 82% 29%;
        --atec-yellow-900: 23 73% 26%;
        --atec-yellow-950: 20 86% 14%;

        --atec-blue-50: 203 87% 97%;
        --atec-blue-100: 201 88% 94%;
        --atec-blue-200: 199 86% 86%;
        /* src light */
        --atec-blue-300: 198 51% 70%;
        --atec-blue-400: 196 87% 60%;
        --atec-blue-500: 197 83% 48%;
        /* src dark */
        --atec-blue-600: 198 91% 41%;
        --atec-blue-700: 199 90% 32%;
        --atec-blue-800: 199 84% 27%;
        --atec-blue-900: 200 75% 24%;
        --atec-blue-950: 202 75% 16%;

        --atec-purple-50: 309 54% 97%;
        --atec-purple-100: 304 65% 95%;
        --atec-purple-200: 304 67% 91%;
        --atec-purple-300: 305 66% 83%;
        --atec-purple-400: 308 63% 73%;
        --atec-purple-500: 308 58% 61%;
        --atec-purple-600: 308 49% 49%;
        /* src light */
        --atec-purple-700: 310 50% 43%;
        --atec-purple-800: 311 49% 33%;
        /* src middle */
        --atec-purple-900: 312 95% 24%;
        /* src dark */
        --atec-purple-950: 323 79% 17%;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0, 94%, 43%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --sidebar-background: 240 5.9% 10%; /* 240 5.9% 10% */
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        font-family:
            "Geist",
            "Inter",
            "Open Sans",
            system-ui,
            -apple-system,
            sans-serif;
        @apply bg-background text-foreground accent-atec-blue-500;
    }

    a:not(button) {
        @apply hover:text-yellow-500;
    }

    main {
        @apply min-h-svh;
    }
}

.text-gradient-yellow {
    @apply bg-gradient-to-r from-atec-yellow-300 to-atec-yellow-500;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-purple {
    @apply bg-gradient-to-r from-atec-purple-300 to-atec-purple-500;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-blue {
    @apply bg-gradient-to-r from-atec-blue-300 to-atec-blue-500;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-atec {
    background: linear-gradient(90deg, #ffe06c, #ec9f06, #f0b7eb, #d560c6, #8cc2da, #15a9e2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
